@import url("https://use.typekit.net/ovi0znr.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: century-gothic, sans-serif;
    min-height: 100vh;
    width: 100vw;
}

nav{
    width: 100%;
    background: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tab-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.tab{
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.tab .icon{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
}

.tab i{
    font-size: 1rem;
}

.tab p{
    font-weight: 400;
    overflow: hidden;
    max-width: 0;
    color: white;
}

.tab.active {
    border: white 1px solid;
    transition: 2000ms;
}

.tab.active p{
    margin: 0 10px;
    max-width: 100%;
    transition: max-width 500ms linear;
}
